.subtitle {
    text-align: center;
    font-size: 32px;
    line-height: 0.81;
}
@media (max-width: 910px) {
    .subtitle {
        font-size: 26px;
    }
}
@media (max-width: 840px) {
    .subtitle {
        font-size: 22px;
    }
}
@media (max-width: 540px) {
    .subtitle {
        font-size: 20px;
    }
}