.header__nav {
    align-self: center;
}
.header__list {
    display: flex;
    align-items: center;
    column-gap: 45px;
    flex-wrap: wrap;
    row-gap: 20px;
}
@media (max-width: 850px) {
    .header__list {
        flex-direction: column;
        row-gap: 40px;
    }
}
.header__link {
    font-family: 'DM Sans' ,sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.77;
    transition: transform 0.3s ease 0s;
}
@media (max-width: 850px) {
    .header__link {
        font-size: 30px;
    }
}
.header__link:hover {
    transform: scale(1.1, 1.1);
}
.header__link a {
    transition: color 0.3s ease 0s;
}
.header__link a:hover {
    color: #fff;
}