.about {
    padding-top: 200px;
}
@media (max-width: 1120px) {
    .about {
        padding-top: 170px;
    }
}
@media (max-width: 840px) {
    .about {
        padding-top: 120px;
    }
}
@media (max-width: 540px) {
    .about {
        padding-top: 90px;
    }
}
.about__body {
    display: flex;
    flex-direction: column;
    row-gap: 38px;
}
.about__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
@media (max-width: 949px) {
    .about__content {
        justify-content: center;
    }
}
.about__photo {
    flex: 0 1 400px;
    max-height: 400px;
    min-height: 400px;
    position: relative;
    border-radius: 50%;
    background-image: linear-gradient(to right, rgba(231, 15, 170, 1), rgba(0, 192, 253, 1));
    box-shadow: 0 -9px 20px 5px rgba(167, 167, 167, 0.3);
}
@media (max-width: 1120px) {
    .about__photo {
        flex: 0 1 300px;
        max-height: 300px;
        min-height: 300px;
    }
}
@media (max-width: 840px) {
    .about__photo {
        margin: 0 auto;
    }
}
.about__photo img {
    border-radius: 50%;
    position: absolute;
    width: 95%;
    height: 95%;
    top: 10px;
    left: 10px;
    object-fit: cover;
}
@media (max-width: 1120px) {
    .about__photo img{
        width: 95%;
        height: 95%;
        top: 8px;
        left: 8px;
    }
}
