.main__container {
    flex: 1 1 auto;
    margin-top: 320px;
}
@media (max-width: 1120px) {
    .main__container {
        margin-top: 220px;
    }
}
@media (max-width: 850px) {
    .main__container {
        margin-top: 140px;
    }
}
.main__container {

}


