.main {
    padding-top: 320px;
    flex: 1 1 auto;
}

@media (max-width: 1120px) {
    .main {
        padding-top: 220px;
    }
}
@media (max-width: 850px) {
    .main {
        padding-top: 140px;
    }
}
.main__container {
}

