@media (max-width: 850px) {
    .lock {
        overflow: hidden;
        touch-action: none;
        overscroll-behavior: none;
    }
}
.App {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}




